FLASK_ENV: 'development'
API_PREFIX: "{{ NODEGRID_API_PREFIX }}"
DEBUG: {{ DEBUG }}
LOG_FILE: {{ LOG_FILE }}
LOG_FILE_ACCESS: {{ LOG_FILE_ACCESS }}
LOG_LEVEL: {{ LOG_LEVEL }}
NODEGRID_URI: {{ NODEGRID_URI }}
NODEGRID_USER: {{ NODEGRID_USER }}
NODEGRID_KEY: {{ hostvars[inventory_hostname]["NODEGRID_KEY"] }}
WIREGUARD_IFACE_NAME: {{ WIREGUARD_IFACE_NAME }}
WIREGUARD_LAN: {{ WIREGUARD_LAN }}
WIREGUARD_IFACE_IP: {{ WIREGUARD_IFACE_IP }}
WIREGUARD_IFACE_PUBLIC_IP: {{ WIREGUARD_IFACE_PUBLIC_IP }}
WIREGUARD_IFACE_PUBLIC_PORT: {{ WIREGUARD_IFACE_PUBLIC_PORT }}
WIREGUARD_IP_RESERVED:
  - {{ WIREGUARD_IFACE_IP }}

