---
# Requirements: None
# Purpose:
# - Install a defined user's ssh public key into a specific target node ssh authorized keys
#
- hosts: all
  name: Configure ZPE Out Of Box - Wireguard Spoke profile
  gather_facts: false
  collections:
    - zpe.nodegrid

  vars:
      ssh_key_user: ansible
      ansible_sudoers: true
      ssh_key_type: ed25519

  vars_prompt:
    - name: nodegrid_user
      prompt: Enter Username for the connection
      default: admin
      private: false
    - name: current_password
      prompt: Provide a password for the user
      private: true
    - name: ssh_port
      prompt: Enter target ssh port
      default: 22
      private: false


  tasks:
   - block:
     - name: Read ssh_key
       set_fact:
         ssh_key: "{{ lookup('ansible.builtin.file', '~/.ssh/id_ed25519.pub') }}"
       connection: local

     - name: Install a ssh_key for a user
       zpe.nodegrid.setup:
          username: "{{ nodegrid_user }}"
          password: "{{ current_password }}"
          ssh_key_user: "{{ ssh_key_user }}"
          ssh_key_type: "{{ ssh_key_type }}"
          ssh_key: "{{ ssh_key }}"
          ssh_port: "{{ ssh_port }}"
          ansible_sudoers: "{{ ansible_sudoers }}"

     - name: Validate Connection
       ping:
