---
# Requirements: None
# Purpose:
# - Install a defined user's ssh public key into a specific target node ssh authorized keys
#
- hosts: all
  name: Configure ZPE Out Of Box - Install a ssh public key into a Nodegrid user
  gather_facts: false
  collections:
    - zpe.nodegrid

  vars:
    ssh_key_user: ansible

  vars_prompt:
    - name: nodegrid_user
      prompt: Enter Username for the connection
      default: admin
      private: false
    - name: current_password
      prompt: Provide a password for the user
      private: true
    - name: ssh_key_filepath
      prompt: Provide ssh key (public) file path
      default: ~/.ssh/id_ed25519.pub
      private: false
    - name: ssh_key_user_sudoers
      prompt: Add the Nodegrid user to sudoers (True | False)?
      default: true
      private: false

  tasks:
   - name: SSH Key validation
     block:
     - name: Validate ssh_key
       ansible.builtin.shell: ssh-keygen -lf {{ ssh_key_filepath }} | cut -d' ' -f4 | sed -r 's/\(|\)//g'
       register: ssh_keygen
       failed_when: "ssh_keygen.stderr != ''"
       connection: local
     
     - name: Read ssh_key
       set_fact:
         ssh_key: "{{ lookup('ansible.builtin.file', ssh_key_filepath) }}"
       connection: local

     - name: Get ssh_key_type
       set_fact:
         ssh_key_type: "ssh-{{ ssh_keygen.stdout | lower }}"
       connection: local

   - name: Install SSH key to the remote Nodegrid
     block:
     - name: Install a ssh_key for a user
       no_log: True
       zpe.nodegrid.nodegrid_setup:
          login:
            username: "{{ nodegrid_user }}"
            password: "{{ current_password }}"
          install_ssh_key:
            user: "{{ ssh_key_user }}"
            key_type: "{{ ssh_key_type }}"
            key: "{{ ssh_key }}"
          grant_sudo_access:
            user: "{{ ssh_key_user }}"
            enable: "{{ ssh_key_user_sudoers }}"

     - name: Validate Connection
       vars:
         ansible_user: "{{ ssh_key_user }}"
       ansible.builtin.ping:

     - name: Create .vimrc config file
       vars:
         ansible_user: "{{ ssh_key_user }}"
       ansible.builtin.shell:
         cmd: "echo -e 'set number\nset tabstop=2 softtabstop=2 shiftwidth=2\nset number ruler\nset autoindent smartindent\nsyntax enable\nfiletype plugin indent on\nset backspace=indent,eol,start' > /home/ansible/.vimrc"
