#!/bin/bash
# This script is meant to dynamically change a wireguard endpoint
# Whenever an event ocurrs, it will execute this script passing the Event
# number as the first argument plus all the arguments that this events
# pass to SNMP TRAP. See Nodegrid‐TRAP‐MIB.mib to see all args for each event.
EVENT_NUMBER="$1" #argument 1 is always the event number
LOG_FILE=/var/log/messages

###### Tunnel 1 #######
case ${EVENT_NUMBER} in
   144)
{% for wg_tunnel in wireguard_interfaces %}
      su ansible -c "unset SID DLITF_SID; cli -C -y set /settings/wireguard/{{ wg_tunnel.wireguard_interface_name }}/peers/peer-{{ wg_tunnel.wireguard_hub }}/ external_address={{ hostvars[wg_tunnel.wireguard_hub].wireguard_external_address_backup }}"
      echo "Changed Wireguard Tunnel {{ wg_tunnel.wireguard_interface_name }} peer peer-{{ wg_tunnel.wireguard_hub }} to endpoint {{ hostvars[wg_tunnel.wireguard_hub].wireguard_external_address_backup }}" >> ${LOG_FILE}
{% endfor %}
      ;;
   145)
{% for wg_tunnel in wireguard_interfaces %}
      su ansible -c "unset SID DLITF_SID; cli -C -y set /settings/wireguard/{{ wg_tunnel.wireguard_interface_name }}/peers/peer-{{ wg_tunnel.wireguard_hub }}/ external_address={{ hostvars[wg_tunnel.wireguard_hub].wireguard_external_address_main }}"
      echo "Changed Wireguard Tunnel {{ wg_tunnel.wireguard_interface_name }} peer peer-{{ wg_tunnel.wireguard_hub }} to endpoint {{ hostvars[wg_tunnel.wireguard_hub].wireguard_external_address_main }}" >> ${LOG_FILE}
{% endfor %}
      ;;
   *)
      echo "Event number: ${EVENT_NUMBER} not handled by $0" >> ${LOG_FILE}
      ;;
esac
### END Tunnel 1 ####
