#!/bin/bash
# This script is meant to dynamically change a wireguard endpoint
# Whenever an event ocurrs, it will execute this script passing the Event
# number as the first argument plus all the arguments that this events
# pass to SNMP TRAP. See Nodegrid‐TRAP‐MIB.mib to see all args for each event.
EVENT_NUMBER="$1" #argument 1 is always the event number
LOG_FILE=/var/log/messages

###### Tunnel 1 #######
case ${EVENT_NUMBER} in
   144)
      su ansible -c "unset SID DLITF_SID; cli -C -y set /settings/wireguard/{{ WIREGUARD_IFACE_NAME }}/peers/{{ WIREGUARD_PEER_ID }}/ external_address={{ WIREGUARD_ENDPOINT_BACKUP }}"
      echo "Changed Wireguard Tunnel {{ WIREGUARD_IFACE_NAME }} peer {{ WIREGUARD_PEER_ID }} to endpoint {{ WIREGUARD_ENDPOINT_BACKUP }}" >> ${LOG_FILE}
      ;;
   145)
      su ansible -c "unset SID DLITF_SID; cli -C -y set /settings/wireguard/{{ WIREGUARD_IFACE_NAME }}/peers/{{ WIREGUARD_PEER_ID }}/ external_address={{ WIREGUARD_ENDPOINT_MAIN }}"
      echo "Changed Wireguard Tunnel {{ WIREGUARD_IFACE_NAME }} peer {{ WIREGUARD_PEER_ID }} to endpoint {{ WIREGUARD_ENDPOINT_MAIN }}" >> ${LOG_FILE}
      ;;
   *)
      echo "Event number: ${EVENT_NUMBER} not handled by $0" >> ${LOG_FILE}
      ;;
esac
### END Tunnel 1 ####
