[spoke]
API_PREFIX = {{ NODEGRID_API_PREFIX }}
DEBUG = {{ DEBUG }}
LOG_FILE = {{ LOG_FILE }}
LOG_LEVEL = {{ LOG_LEVEL }}
NODEGRID_URI = {{ NODEGRID_URI }}
NODEGRID_USER = {{ NODEGRID_USER }}
NODEGRID_KEY = {{ hostvars[inventory_hostname]["NODEGRID_KEY"] }}
WIREGUARD_IFACE_NAME = {{ WIREGUARD_IFACE_NAME }}
WIREGUARD_PEER_ID = {{ WIREGUARD_PEER_ID }}
HUB_URI = {{ HUB_URI }}
