---
# Requirements: None
# purpose:
# This playbook can be used to install a public ssh key for a defined user into a Nodegrid target device.
# The module uses it's own ssh connection which is not dependent on a current ansible connection.
# The use case is to easly configure a default Nodegrid appliance, so that it can be used with ansible
#
# Example: 203.0.113.0 represents the IP address of the Nodegrid target device
#    ansible-playbook setup_install_ssh_key.yml --inventory 203.0.113.0,
#
- hosts: all
  name: Configure ZPE Out Of Box - Factory Default
  gather_facts: false
  collections:
    - zpe.nodegrid
  vars_prompt:
    - name: nodegrid_user
      prompt: Enter Username for the connection
      default: admin
      private: false
    - name: current_password
      prompt: Provide a password for the user
      private: true
    - name: ssh_public_key_filepath
      prompt: Provide local ssh public key file path
      default: ~/.ssh/id_ed25519.pub
      private: false
    - name: ssh_private_key_filepath
      prompt: Provide local ssh private key file path
      default: ~/.ssh/id_ed25519
      private: false
    - name: ssh_key_user
      prompt: Provide Nodegrid user to which the ssh_key should be installed
      default: ansible
      private: false
    - name: ssh_key_user_sudoers
      prompt: Add the Nodegrid user to sudoers (True | False)?
      default: true
      private: false

  tasks:
   - name: SSH Key validation
     block:
     - name: Read ssh_key
       set_fact:
         ssh_key: "{{ lookup('ansible.builtin.file', ssh_public_key_filepath) }}"
       connection: local

     - name: Validate ssh_key
       ansible.builtin.shell: ssh-keygen -lf {{ ssh_public_key_filepath }}
       register: ssh_keygen
       connection: local
     
     - name: Get ssh_key_type
       set_fact:
         ssh_key_type: "ssh-{{ ssh_keygen.stdout | split(' ') | last | lower | replace('(','') | replace(')','') }}"
       connection: local

   - name: Install SSH key to the remote Nodegrid
     block:
     - name: Install a ssh_key for a user
       no_log: True
       zpe.nodegrid.setup:
          login:
            username: "{{ nodegrid_user }}"
            password: "{{ current_password }}"
          install_ssh_key:
            user: "{{ ssh_key_user }}"
            key_type: "{{ ssh_key_type }}"
            key: "{{ ssh_key }}"
          grant_sudo_access:
            user: "{{ ssh_key_user }}"
            enable: "{{ ssh_key_user_sudoers }}"
     - name: Validate Connection
       vars:
         ansible_user: "{{ ssh_key_user }}"
         ansible_ssh_user: "{{ ssh_key_user }}" # Avoids conflict with the legacy variable
         ansible_ssh_private_key_file: "{{ ssh_private_key_filepath }}"
       ansible.builtin.raw: whoami
       register: result
       changed_when: False
