- hosts: all
  name: Configure ZPE Out Of Box - Factory Default
  gather_facts: false
  collections:
    - zpe.nodegrid
  vars:
    set_username: "<myusername>"
    set_password: "<mypassword>"
    set_new_password: "<mypassword>"
    copy_ssh_key: "/home/ansible/.ssh/id_ed25519.pub"
    nodegrid_version: "6.0.0"
    iso_file: "/home/ansible/nodegrid-genericx86-64-20230209141008.iso"
    format_partitions: true

  tasks:

  - name: Change default admin password and install the ansible user ssh key
    zpe.nodegrid.setup:
      login:
        username: "{{ set_username }}"
        password: "{{ set_password }}"
      change_password:
        new_password: "{{ set_new_password }}"
      install_ssh_key:
        key: "{{ lookup('ansible.builtin.file', copy_ssh_key) }}"
      grant_sudo_access:
        enable: True

  - name: Get Nodegrid facts
    zpe.nodegrid.facts:

  - name: Check version
    set_fact:
      upgrade_required: "{{ ansible_facts['about']['version'] is version(nodegrid_version, '!=') }}"

  - name: Copy iso image if the version is different
    copy:
      src: "{{ iso_file }}"
      dest: /var/sw
      owner: ansible
      group: ansible
      mode: '0644'
    when: upgrade_required

  - name: Software upgrade if the version is different
    zpe.nodegrid.software_upgrade:
      image_location: "local_system"
      filename: "{{ iso_file | basename }}"
      format_partitions_before_upgrade: "{{ 'yes' if format_partitions else 'no' }}"
      # if_downgrading: "restore_configuration_saved_on_version_upgrade"
    when: upgrade_required

  - name: Change default admin password and install the ansible user ssh key
    zpe.nodegrid.setup:
      login:
        username: "{{ set_username }}"
        password: "{{ set_password }}"
      change_password:
        new_password: "{{ set_new_password }}"
      install_ssh_key:
        key: "{{ lookup('ansible.builtin.file', copy_ssh_key) }}"
      grant_sudo_access:
        enable: True
    when: upgrade_required and format_partitions

  - name: Get Nodegrid facts
    zpe.nodegrid.facts:
    when: upgrade_required

  - name: Check the version
    fail: msg="Invalid Nodegrid OS version"
    when: upgrade_required and ansible_facts['about']['version'] is version(nodegrid_version, '!=')