---
# Requirements: None
# purpose:
# This playbook can be used to install a public ssh key for a defined user into a Nodegrid target device.
# The module uses it's own ssh connection which is not dependent on a current ansible connection.
# The use case is to easly configure a default Nodegrid appliance, so that it can be used with ansible
#
# Example: 203.0.113.0 represents the IP address of the Nodegrid target device
#    ansible-playbook setup_install_ssh_key.yml --inventory 203.0.113.0,
#
- hosts: all
  name: Configure ZPE Out Of Box - Factory Default
  gather_facts: false
  collections:
    - zpe.nodegrid
  vars_prompt:
    - name: nodegrid_user
      prompt: Enter Username for the connection
      default: admin
      private: false
    - name: current_password
      prompt: Provide a current password for the user
      private: true
    - name: ssh_key_user
      prompt: Provide username to which the ssh_key should be installed
      default: ansible
      private: false
    - name: ssh_key_type
      prompt: Provide ssh key type that is used (dsa | ecdsa | ecdsa-sk | ed25519 | ed25519-sk | rsa)?
      default: rsa
      private: false
    - name: ssh_key
      prompt: Enter a user's ssh public key to access ansible user via ssh
      private: false
    - name: ssh_port
      prompt: Enter ssh port
      default: 22
      private: false
    - name: ansible_sudoers
      prompt: Add user to sudoers (True | False)?
      default: false
      private: false

  tasks:
    - name: Install a ssh_key for a user
      zpe.nodegrid.setup:
        username: "{{ nodegrid_user }}"
        password: "{{ current_password }}"
        ssh_key_user: "{{ ssh_key_user }}"
        ssh_key_type: "{{ ssh_key_type }}"
        ssh_key: "{{ ssh_key }}"
        ssh_port: "{{ ssh_port }}"
        ansible_sudoers: "{{ ansible_sudoers }}"