---
# Requirements: None
# purpose:
# This playbook can be used to change the password for a user including default password for the admin user
# The module uses it's own ssh connection which is not dependent on a current ansible connection.
# The use case is to easly configure a default Nodegrid appliance, so that it can be used with ansible
#
# Example: 203.0.113.0 represents the IP address of the Nodegrid target device
#    ansible-playbook setup_change_user_password.yml --inventory 203.0.113.0,
#
- hosts: all
  name: Configure ZPE Out Of Box - Factory Default
  gather_facts: false
  collections:
    - zpe.nodegrid
  vars_prompt:
    - name: nodegrid_user
      prompt: Enter Username for the SSH connection
      default: admin
      private: false
    - name: current_password
      prompt: Provide the current password for the user
      private: true
    - name: new_password
      prompt: Provide a new password for the user
      private: true

  tasks:
    - name: "Change user {{ nodegrid_user }} password"
      zpe.nodegrid.setup:
        username: "{{ nodegrid_user }}"
        password: "{{ current_password }}"
        new_password: "{{ new_password }}"
