#cloud-config
users:
  - default
  - name: admin
    primary_group: admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin    
    shell: /bin/bash
    ssh_authorized_keys:
      - {{ vm.cloud_init.ssh_public_key }}
